body {
  background-color: rgb(50, 50, 50);
}
.container {
  width: 320px;
  margin: 50px auto;
  padding: 20px;
  /* border: 2px solid red; */
  font-family: montserrat;
  font-size: 10x;
  background-color: white;
  border-radius: 20px;
}
h2 {
  text-align: center;
}
.container div {
  text-align: center;
}
input {
  width: 250px;
  padding: 5px;
}
button {
  width: 80px;
  padding: 8px;
  margin: 4px;
  font-size: 16px;
  font-family: montserrat;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  border-radius: 10px;
}
